<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="FireBirdConnectionString"
		     connectionString="DataSource=localhost; Database=C:\Cursos\POO\DBTCC.FDB; User=SYSDBA; PassWord=masterkey" />
		<!--<add name="StringConexao" connectionString="user=SYSDBA;PassWord=masterkey;Database=C:\Cursos\POO\DBTCC.FDB;DataSource=localhost:3050;Port=3050;Dialect=3"/>-->
	</connectionStrings>
</configuration>